spring:
  cloud:
    gateway:
      routes:
        - id: userservice
          uri: lb://userservice
          predicates:
            - "Path=/api/users/**"
        - id: activityservice
          uri: lb://activityservice
          predicates:
              - Path=/api/activities/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8085